extends layout

block content
  div.container-fluid#dashboard(style="height:100%; display:none")
    include ./index.dashboard.jade
  div.container-fluid#remote(style="height:100%; display:none")
    include ./index.remote.jade
  div.container-fluid#sensors(style="height:100%; display:none")
    include ./index.sensors.jade    
  div.container-fluid#console(style="height:100%; display:none")
    include ./index.console.jade