extends layout

block content
  div.row#dashboard(style="display:none")
    div WhooHoo
  div.row-fluid#console(style="height:100%")
    div.col-md-3.fullCol
      .container-fluid.fullCol
        .console-stat-container(style="background-color: rgba(0,0,0,.8); height: 100%;")
          div
            span.console-stat-name
              | Wheel Ticks
            br
            span.console-stat-value#console-ticks
          div
            span.console-stat-name
              | Front Current
            br
            span.console-stat-value#console-front-motor-current   
          div
            span.console-stat-name
              | Rear Current
            br
            span.console-stat-value#console-rear-motor-current        
          div
            span.console-stat-name
              | Potentiometer
            br
            span.console-stat-value#console-steering-pot  
          div
            span.console-stat-name
              | Pot Left Max
            br
            span.console-stat-value#console-steering-pot-left-max
          div
            span.console-stat-name
              | Pot Right Max
            br
            span.console-stat-value#console-steering-pot-right-max
          div
            span.console-stat-name
              | Pot Center
            br
            span.console-stat-value#console-steering-pot-center                   
          div
            button.btn.btn-default.btn-sm#commandCalibrate Calibrate
          div.container-fluid
            div.row
              div.col-md-4
              div.col-md-4
                button.btn.btn-default.btn-lg(style="border-radius:2px;") &uarr;
              div.col-md-4
            div.row
              div.col-md-3
              div.col-md-5
                div.btn-group
                  button.btn.btn-default.btn-lg-btn-block(style="border-radius:2px") &larr;
                  button.btn.btn-default.btn-lg(style="border-radius:2px") &darr;
                  button.btn.btn-default.btn-lg(style="border-radius:2px") &rarr;
              div.col-md-4
    div.col-md-6.col
      input#serialCommand
      button#serialSubmit Submit
      h1. Home
      | Send Command 

      br
      button#commandDriveForward Forward
      input(type="checkbox" id="toggle-serial" name="toggle-serial" checked)
      br
      textarea#sockout(cols="20", rows="10")
      textarea#sockin(cols="60", rows="10")
      br
      textarea#socklog(cols="120", rows="20")
    div.col-md-3.col
      .console-ctrl-container(style="background-color: rgba(0,0,0,.8)")
        .h3 Motor Config
        .h5 Drive Motors
        .btn-group(data-toggle='buttons')
          label.btn.btn-primary.active
            input#DRIVE_MOTOR_FRONT(type='radio', name='motorSelect', autocomplete='off', checked='')
            |  Front
          label.btn.btn-primary
            input#DRIVE_MOTOR_REAR(type='radio', name='motorSelect', autocomplete='off')
            |  Rear
          label.btn.btn-primary
            input#DRIVE_MOTOR_BOTH(type='radio', name='motorSelect', autocomplete='off')
            |  Both
        .h5 Max Speed    
        div.container-fluid
          div.row
            div.col-md-8
              #motor-speed-slider
            div.col-md-4
              input#motor-speed-value(size="3", disabled)
              | %
        .hr




           
  //-br
  //-div#lineChart.epoch(style="width: 100%; height: 100px;border:solid 1px #C0C0C0;")
